@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #EBEBEBEB;
}
.logoML{
    width: 280px;
    height: 50px;
}
.buscar{
    width: 588px;
    height: 40px;
    padding-left: 18px;
}
.logoDisney{
    width:"680";
    height: "78";
}